

body{
    font-family: 'GT-America','SangBleuSunrise',sans-serif;
}
body.hidden{overflow: hidden;}






.blind{
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.inner{padding: 0 60px;}
.footer{
    margin-left: 80px;
    overflow: hidden;
    background-color: #141617;
    color: #fff;
}
/* section{margin-left: 80px;} */