

body{
    font-family: 'GT-America','SangBleuSunrise',sans-serif;
}
body.hidden{overflow: hidden;}






.blind{
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.inner{padding: 0 60px;}
.desc-title{
    line-height: 150%;
    letter-spacing: -0.025em;
    font-weight: 400;
    font-family: 'SangBleuSunrise';
}
.margin{margin: 200px 0;}
.footer{
    margin-left: 80px;
    overflow: hidden;
    background-color: #141617;
    color: #fff;
}
/* section{margin-left: 80px;} */

.cursor{
    font-size: 11px;
    letter-spacing: 0.05em;
    pointer-events: none; 

    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0;
}
.cursor::before{
    content: '';
    width: 20px;
    height: 20px;
    background: #141617;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

@media screen and (max-width: 1200px) {
    /* *1024을 기준으로 화면을 보고 잡아야함 */ 

}
@media screen and (max-width: 1023px) {
    /* *768을보고 잡아야함 */
    .margin{margin: 100px 0;}
}
@media screen and (max-width: 767px) {
    /* *320을 보고 잡아야함 */
    .margin{margin: 60px 0;}
    .common-inner{padding: 0 20px;}
    .footer{margin-left: 0;}
}